/*Paleta de Colores*/

$color-uno: #7c4dff;
$color-dos: black;
$color-tres: white;

%titulos {
    background: rgba(0, 0, 0, 0.9);
    color: $color-tres;
    text-align: center;
    font-size: 70px;
    border: 3px solid $color-dos;
    margin: 15px;
}

