@use "../bases/operaciones";

footer {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: operaciones.$color-uno;
    .mapa {
        h2 {
            color: operaciones.$color-dos;
            font-size: 30px;
            text-align: center;
            margin: 0;
        }
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: operaciones.$color-dos;
            text-decoration: none;
        }
    }
    .redes {
        h2 {
            color: operaciones.$color-dos;
            font-size: 30px;
            text-align: center;
            margin: 0;
        }
        a {
            i {
                text-decoration: none;
                font-size: 40px;
                color: operaciones.$color-dos;
                padding: 10px;
            }
        }
    }
}