@use "../bases/operaciones";

.bg-colornav {
    background-color: operaciones.$color-uno;
}

.btn-outline-success{
    background-color: operaciones.$color-tres;
    color: operaciones.$color-dos;
    border: 1px solid operaciones.$color-dos;
}

.btn-outline-success:hover {
    background-color: operaciones.$color-dos;
    color: operaciones.$color-tres;
    border: 1px solid operaciones.$color-tres;
}

header {
    top: 0;
    nav {
        img {
            height: 50px;
            width: 50px;
        }
    }
}